/* Couleurs */

/* color red : #cb0f12
color light blue: #cae8f3
color dark blue: #212a4a */
/* background: url("/src/assets/images/imageBackground.jpg") no-repeat; */

body {
  margin: 0;
  padding: 0;
}

/* Début Header */

.header {
  top: 0;
  left: 0;
  padding: 20px 100px;
  background: rgba(33, 42, 74, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(2px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  z-index: 100;
  overflow: hidden;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
}
.header:hover::before {
  left: 100%;
}
.logo {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
}

.nav_link {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  margin-left: 35px;
  transition: 0.3s;
  font-weight: bold;
}
.nav_link:hover {
  color: #423fa6;
  animation: ease-in-out 15s;
}
#menu-icon {
  font-size: 36px;
  color: #fff;
  display: none;
}
/* BREAKPOINTS */
/* @media (max-width: 992px) {
  .header {
    padding: 1.25rem 4%;
  }
}
@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0.5rem 4%;
    display: none;
  }
  .navbar.active {
    display: block;
  }
  .navbar a {
    display: block;
    margin: 1.5rem 0;
  }
  .nav-bg {
    position: absolute;
    top: 79px;
    left: 0;
    width: 100%;
    height: 295px;
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    z-index: 99;
    display: none;
  }
  .nav-bg.active {
    display: block;
  }
} */

header img {
  width: 100px;
}

.navbar a {
  font-size: 25px;
}

.reserv {
  border: solid orange;
  border-radius: 30px;
  padding: 10px;
  background-color: orange;
  margin-left: 20px;
}

.reserv:hover {
  font-size: 27px;
}

.reserv {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #423fa6;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

.navbar .active {
  color: #423fa6;
}

.reserv:active {
  box-shadow: none;
  transform: translateY(4px);
}

/* Fin Header */

.main-title {
  width: 100vw;
  height: 500px;
  position: relative;
  text-align: center;
  overflow: hidden;
}
.main-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.2s;
}

.main-img:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.main-title h1 {
  width: 100%;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  background-color: rgba(203, 15, 18, 0.5);
}
.definition-activities {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cae8f3;
  font-size: 18px;
}

.list-activities > nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background: #cb0f12;
  margin-bottom: 15px;
}
.list-activities > nav :hover {
  color: #cae8f3;
}
a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.listing-activities {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.activities-colon {
  width: 30%;
  /* background-color: red; */

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.activity {
  margin-top: 20px;

  width: 100%;
  height: 100%;
  background-color: #cae8f3;
  border-radius: 5px;
}

.activity:hover {
  background-color: rgba(203, 15, 18, 0.5);
}

img {
  width: 100%;
  border-radius: 5px;
}

.listing-activities > .activity-description {
  margin: 20px;
}

.activity-description {
  padding-left: 10px;
  padding-right: 10px;
}

/* activite ete */

.activities-summer-header {
  margin-top: 20px;
  padding-right: 100px;
  padding-left: 100px;

  height: 100px;
  background: #212a4a;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.title-activities-summer {
  width: 70%;
}

/* activite ete grid */
.definition-activities-summer p {
  font-size: 19px;
}
.grid > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.grid {
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 10px;
}

.rafting {
  grid-column: 1;
  grid-row: 1 / span 2;
  overflow: hidden;
}
.vtt {
  padding-top: 10px;
  grid-column: 1;
  grid-row: 3;
  overflow: hidden;
}
.visite-découverte {
  grid-column: 2 / span 2;
  grid-row: 1;
  overflow: hidden;
}
.randonnee {
  padding-top: 10px;
  grid-column: 2;
  grid-row: 2;
  overflow: hidden;
}
.trail {
  padding-top: 10px;
  grid-column: 3;
  grid-row: 2;
  overflow: hidden;
}
.centre-aquatique {
  padding-top: 10px;
  grid-column: 2 / span 2;
  grid-row: 3;
  overflow: hidden;
}

.grid img {
  transition: transform 0.5s;
}
.grid img:hover {
  -ms-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
}

/* media queries responsive */

@media screen and (max-width: 768px) {
  body {
    background-color: #cae8f3;
  }
  .list-activities {
    display: none;
  }
  .listing-activities {
    display: flex;
    flex-direction: column;
  }
  .activity {
    width: 100vw;
  }
  .definition-activities-summer {
    display: none;
  }

  .title-activities-summer {
    width: 100%;
  }
  .title-activities-summer > h1 {
    width: 100%;
    margin: 0;
    color: white;
    text-transform: uppercase;
    background-color: rgba(203, 15, 18, 0.5);
    text-align: center;
  }
  .activities-summer-header {
    margin: 0;
    padding-right: 0;
    padding-left: 0;
    height: 100px;
    background: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .grid {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .activities-summer-header {
    margin-top: 10px;
  }
  .definition-activities {
    background: rgba(203, 15, 18, 0.6);
  }

  /* Responsive nav barre */
  #icones {
    display: block;
  }
  .nav_link.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100vh;
    background-color: rgba(203, 15, 18, 0.3);
    width: 100%;
    z-index: 1;
  }
}

/* Responsive nav barre */
#icones {
  cursor: pointer;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
  }
}

.hamburger {
  display: none;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
