body {
  overflow-x: hidden;
}

.first_content {
    min-height: 100vh;
    max-height: 100vh;
    background: url("/src/assets/images/imageBackground.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.first_content::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px; /* Hauteur du fondu */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}



                                            /* Début Header */

.header {
  top: 0;
  left: 0;
  padding: 20px 100px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(2px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  z-index: 100;
  overflow: hidden;
  position: absolute;
  width: 100%;
}


.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transition: 0.5s;
}
.header:hover::before {
  left: 100%;
}
.logo {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
}


.nav_link {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  margin-left: 35px;
  transition: 0.3s;
  font-weight: bold;
}
.nav_link:hover {
    color: #423FA6;
    animation: ease-in-out 15s;
    
}
#menu-icon {
  font-size: 36px;
  color: #fff;
  display: none;
}
/* BREAKPOINTS */
@media (max-width: 992px) {
  .header {
    padding: 1.25rem 4%;
  }
}
@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0.5rem 4%;
    display: none;
  }
  .navbar.active {
    display: block;
  }
  .navbar a {
    display: block;
    margin: 1.5rem 0;
  }
  .nav-bg {
    position: absolute;
    top: 79px;
    left: 0;
    width: 100%;
    height: 295px;
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    z-index: 99;
    display: none;
  }
  .nav-bg.active {
    display: block;
  }
}

header img {
  width: 100px;
}

.navbar a {
  font-size: 25px;
}

.reserv {
    border: solid orange;
    border-radius: 30px;
    padding: 10px;
    background-color: orange;
    margin-left: 20px;
}

.reserv:hover {
    font-size: 27px;
}

.reserv {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #423FA6;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .navbar .active {
    color:#423FA6 ;
  }
  
  
  .reserv:active {
    box-shadow: none;
    transform: translateY(4px);
  }




                                    /* Fin Header */

  main h2 {
    text-align: left;
    font-size: 80px;
    line-height: 1.5em;
    font-weight: 300;
    margin-left: 70px;
  }

  .legend {
    text-align: center;
  }

  .welcome {
    font-weight: 900;
  }

  .first_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .first_content img {
    width: 30%;
    height: 30%;
    margin-right: 80px;
  }


  .left_part img {
    height: 70px;
    width: 70px;
  }

  .nameH2 {
    font-weight: bold;
  }

  .rewards {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin:80px 0 0 50px;
  }

  .rewards p {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
  }

  @keyframes scroll_2 {
    0%   { transform: translateY(0); opacity: 1; }
    25%  { opacity: 1; }
    75%  { transform: translateY(.75em); opacity: 0; }
    100% { transform: translateY(0); opacity: 0; }
  }
  
  .scroll-icon__dot {
    display: block;
    position: absolute;
    left: 50%;
    background: #423FA6;
    height: .5em;
    width: .5em;
    top: .6em;
    margin-left: -.25em;
    border-radius: 50%;
    transform-origin: top center;
    backface-visibility: hidden;
    animation: scroll_2 2s ease-out infinite;
  }

  .scroll-icon {
    display: block;
    position: relative;
    height: 3em;
    width: 1.5em;
    border: .25em solid #423FA6;
    border-radius: 1em;
  }
  
  .page-wrap {
    display: flex;
    height: 100vh;
  }
  
  .scroll {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    position: absolute;
    bottom: 17%;
    left: 50%;
  }

  .activities {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
  }

  

  .activities p:first-child {
    align-items: center;
    margin-top: 00px;
    width: 50vw;
    font-size: 40px;
  }

  .underline {
    text-decoration: underline;
    text-underline-offset: 5px;
  }


  .title_activities {
    font-size: 52px;
    text-align: center;
    margin: 30px 0;
  }


#test_card {
  display: flex;
  width: 100%;
  height: 100vh;
  
}

#test_card div {
  width: 100%;
  height: 100%;
}

#test_card div h3 {
  text-align: center;
  padding-top: 40px;
  font-size: 48px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

#first_content {
  background-image: url('/src/assets/images/skiCard.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#second_content {
  background-image: url('/src/assets/images/randoBackground.jpg');
  background-size: cover;
  background-position: 70%;
  background-repeat: no-repeat;
}

#third_content {
  background-image: url('/src/assets/images/veloCard.jpg');
  background-size: cover;
  background-position: 80%;
  background-repeat: no-repeat;
}

#more_activities {
  background: url('/src/assets/images/moreActivitiesBackground.jpg');
  background-size: cover;
  background-position: 30%;
  background-repeat: no-repeat;
  width: 60%;
}

#more_activities a {
  margin-left: 80px;
  margin-top: 50%;
  width: 60%;
}